<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="target(fir, sec)">
        <style>
            .c1 {
                background-color: red;
            }
            .c2 {
                background-color: blue;
            }
        </style>
        <div class="c1">
            <th:block th:replace="${sec}"/>
        </div>

        <div class="c2">
            <th:block th:replace="${fir}"/>
        </div>
    </div>

</body>
</html>