<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DTO 객체 출력해보기</title>
    <style>
        .target{
            background-color: azure;
        }
    </style>
</head>
<body>

    <ul>
        <li th:each="dto : ${list}"> <!-- for 문 -->
            <a th:href="@{/sample/exview(sno=${dto.sno})}">[[${dto}]]</a>
        </li>
    </ul>

    <ul>
        <li th:each="dto : ${list}"> <!-- for 문 -->
            [[${dto.sno}]] --- [[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]]
        </li>
    </ul>

</body>
</html>